{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'css/general/register_1.css' %}">
<script src="{% static 'js/general/register-page.js' %}"></script>
{% endblock meta %}

{% block content %}
<div id="center-flex" class="d-flex justify-content-center my-4">
    <div id="card-container" class="card" action="" method="POST">
        <div class="card-body">
            <h3 class="card-title text-center">Register</h3>
            <p class="text-center">Step 1</p>
            <form id="register-1-form" action="" method="POST">
                {% csrf_token %}
                {{ form.as_div }}
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
            {% if messages %}
                <ul class="errorlist">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <span class="d-block mt-4">Already have an account? <a href="/login/">Login</a></span>
        </div>
    </div>
</div>
{% endblock content %}