.article-card {
    width: 18rem;
}
#create-modal textarea {
    resize: none;
}
#create-modal label {
    margin-bottom: 5px;
}
#create-modal input, #create-modal textarea {
    margin-bottom: 10px;
}
#search-form-top {
    width: 90%;
}
#search-form-top-div {
    flex-direction: column;
}
#title, #title-umkm, #umkm, #umkm_type {
    width: 100%;
}
#title, #title-umkm {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#umkm, #umkm_type {
    border-radius: 0;
}
#search-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#search-form-bottom {
    width: 90%;
}
#sort-by-flex {
    flex-direction: column;
}
#sort-by-flex-label {
    display: block;
}
@media (min-width: 1024px) {
    #search-form-top {
        width: 50%;
    }
    #search-form-top-div {
        flex-direction: row;
    }
    #title-umkm, #umkm, #umkm_type {
        width: 30%;
    }
    #title {
        width: 90%;
    }
    #title, #title-umkm {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
    }
    #umkm, #umkm_type {
        border-radius: 0;
    }
    #search-button {
        border-top-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 10px;
    }
    #search-button {
        width: 10%;
    }
    #search-form-bottom {
        width: 75%;
    }
    #sort-by-flex {
        flex-direction: row;
    }
    #sort-by-flex-label {
        display: inline;
    }
}