{% extends 'base.html' %}

{% block meta %}
<title>Perlombaan</title>
{% endblock meta %}

{% block content %}

<div class="main" style="margin: 20px;">
    <div class="row" id="main-lomba">
        {% for lomba in detail %}
            <div class="col-sm-6">
                <div class="card text-center" style="margin-bottom: 15px;">
                    <div class="card-header">
                        Jumlah Vote: {{ lomba.jumlahVote }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ lomba.namaKarya }}</h5>
                        <p class="card-text">{{ lomba.detailKeterangan }}</p>
                        <a href="#" class="btn btn-primary">Pilih Sekarang</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ lomba.situsKarya }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}