{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pendaftaran Lomba</title>
<link rel="stylesheet" href="{% static 'css/lomba/form_template.css' %}">

<script>
    function cannotReg() {
        $("#daftarbtn").prop('disabled', true);
        $("#namatext").prop('disabled', true);
        $("#situs").prop('disabled', true);
        $("#ket").prop('disabled', true);
    }

    $(document).ready(function(){
        
        var cekDaf = "{{ cekDaftar }}";
        var ongoing = "{{ cekOng }}";

        if (ongoing == "False") {
            cannotReg();
            
            var pesan = document.createElement('div');
            pesan.classList.add('text-center');
            pesan.innerHTML = "<p>Maaf, perlombaan telah berakhir</p>";

            $(document.body).append(pesan);
        } else if (cekDaf != "0") {
            cannotReg();
            
            var pesan = document.createElement('div');
            pesan.classList.add('text-center');
            pesan.innerHTML = "<p>Maaf, Anda sudah pernah mendaftar lomba ini</p>";
        }
    });
</script>
{% endblock meta %}

{% block content %}
<div class="mainbody">
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">Pendaftaran Lomba {{ lomba.namaLomba }}</h1>
        <form id="form-daftar-lomba" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input id="namatext" type="text" class="form-control" id="nama-karya" name="nama-karya">
                <label for="nama-karya">Nama Karya</label>
            </div>
    
            <div class="form-floating mb-3">
                <input id="situs" type="text" class="form-control" id="situs-karya" name="situs-karya">
                <label for="situs-karya">Situs Karya</label>
            </div>
    
            <div class="form-floating">
                <textarea id="ket" class="form-control" id="keterangan" name="keterangan"></textarea>
                <label for="keterangan">Keterangan</label>
            </div>
    
            <div style="margin: 0 auto; display:table;">
                <input id="daftarbtn" class="btn btn-primary" type="submit" value="Daftar" style="margin-top: 15px;"/>
            </div>
        </form>
    </main>
</div>

{% endblock content %}