{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Semua Lomba</title>

<script>
    function updateLomba(idLomba) {
        // Untuk update Lomba ke selesai
        $.ajax({
            url: "selesai/" + idLomba,
            success: function() {
                $(`#selesai-${idLomba}`).prop('disabled', true);
            }    
        });
    }

    function displayLomba(data, userType) {
        if (data.length == 0) {

            // If lomba is empty
            var pesan = document.createElement('p');
            pesan.innerHTML = 'Tidak ada lomba';

            $("#pesan").append(pesan);
            $("#ganti").show();

        } else {
            $.each( data, function(key, val) {

                // Cek apakah lomba masih berlangsung atau
                // yang sedang login adalah admin
                if (val.fields.berjalan || userType == "2") {
                    var outerDiv = document.createElement('div');
                    outerDiv.classList.add('col-sm-6');

                    var card_outer = document.createElement('div');
                    card_outer.classList.add('card', 'text-center');
                    card_outer.style.marginBottom = "15px";

                    var body = document.createElement('div');
                    body.classList.add('card-body');

                    var title = document.createElement('h5');
                    var text = document.createElement('p');
                    var buttonDetail = document.createElement('button');
                    var links = document.createElement('a');
                    
                    links.appendChild(document.createTextNode("Detail"));
                    links.href = "data/" + val.pk;
                    buttonDetail.appendChild(links);

                    title.classList.add('card-title');
                    text.classList.add('card-text');
                    buttonDetail.classList.add('btn', 'btn-primary');
                    links.classList.add('link-light', 'text-decoration-none');

                    title.innerHTML = val.fields.namaLomba;
                    text.innerHTML = val.fields.keterangan;

                    body.appendChild(title);
                    body.appendChild(text);
                    body.appendChild(buttonDetail);

                    // Khusus admin
                    if (userType == "2") {
                        var buttonSelesai = document.createElement('button');

                        buttonSelesai.classList.add('btn', 'btn-danger');
                        buttonSelesai.setAttribute('id', `selesai-${val.pk}`);
                        buttonSelesai.style.marginLeft = "10px";
                        buttonSelesai.innerHTML = "Selesai";
                        buttonSelesai.setAttribute('onclick', `updateLomba(${val.pk})`);

                        // Jika sudah tidak berjalan lagi
                        if (!(val.fields.berjalan)) {
                            buttonSelesai.disabled = true;
                        }

                        body.appendChild(buttonSelesai);
                    }
                    
                    card_outer.appendChild(body);

                    var footer = document.createElement('div');
                    footer.classList.add('card-footer', 'text-muted');
                    footer.innerHTML = "Tanggal ditambahkan: " + val.fields.tanggal;

                    card_outer.appendChild(footer);

                    outerDiv.appendChild(card_outer);

                    $("#main-lomba").append(outerDiv);
                }
            });
        }
    }

    $(document).ready(function(){

        const type = $("#user-type").html();

        // For displaying lomba data
        $.get( "/lomba/all/data/json", function(data) {
            displayLomba(data, type);
        });

    });
</script>
{% endblock meta %}

{% block content %}
<div class="main" style="margin: 20px;">
    <div class="row" id="main-lomba"></div>
</div>
<div id="ganti" class="px-4 py-5 my-5 text-center" style="display: none;">
    <h1 id="pesan" class="display-5 fw-bold"></h1>
</div>

<div id="user-type" style="display: none;">{{ check }}</div>
{% endblock content %}