{% extends 'base.html' %}

{% block meta %}
<title>Perlombaan</title>
{% endblock meta %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Selamat datang, {{ user.username }}!</h1>
    <p>User type: {{ check }}</p>

    {% if check == 0 %}
        <p>Menu UMKM</p>
    {% elif check == 1 %}
        <p>Menu Customer</p>
    {% elif check == 2 %}
        <p>Menu Admin</p>
    {% else %}
        <p>Menu None Type</p>
    {% endif %}

{% else %}
    <p>Silahkan login terlebih dahulu untuk melihat halaman ini</p>
    <button><a href="../login/">Login</a></button>
{% endif %}

{% endblock content %}