{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Discussion</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/obrolan_css.css' %}" /> 

<div class="container">
    <div>
        <b style="color:#955251; font-family:verdana;"><font size="6">Discussion Forum</font></b></br>
    </div>
    <div class="row justify-content-around" id="card-container"></div>
</div>
{{ user_and_type | json_script:"user_and_type"}}
<script type="text/JavaScript" src="{% static '/js/obrolan_not_logged_in_js.js' %}"></script>
{% endblock content %}