<body>
{% extends 'base.html' %}

{% block meta %}
<title>Showcase</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/jquery/jquery-3.1.0.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
{% endblock meta %}

{% block content %}
<h1>Buzzar Tendants!</h1>

{% if isUMKM and have_shop == 0%}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-modal" id="btnAdd">Add My UMKM</button>
{% endif %}

<div class="modal fade" id="add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add My UMKM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Hey {{ name }}, let's set up your shop!</p>
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="add-shop-submit" type="button" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="myCards">
    </div>
</div> 

<script>
    function show_cards() {
        $.get('/showcase/json', function(shops) {
            $('#myCards').empty()
            shops.map((shop) => {
                $('#myCards').append(`
                    <div class

                `)
            })
        })
    }


</script>

{% endblock content %}
</body>