{% extends 'base.html' %}

{% block meta %}
<title>Buzzar-id: {{article.title}}</title>
<script>
    let userId = parseInt(`{{user_id}}`);
    let articleId = parseInt(`{{article.id}}`);
</script>
{% if is_customer and not is_official %}
<script>
    function setSubscribeButton() {
        $.ajax({
            method: 'GET',
            url: "{% url 'news:subscribe' article.author_user.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                if (data.subscribed) {
                    $('#subscribe_button').text('Unsubscribe');
                } else {
                    $('#subscribe_button').text('Subscribe');
                }
            },
            error: function(error) {
                alert('Error on fetching subscription data.');
            },
        });
    }
    
    function subscribe() {
        $.ajax({
            method: 'PUT',
            url: "{% url 'news:subscribe' article.author_user.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                setSubscribeButton();
            },
            error: function(error) {
                alert('Error on updating subscription data.');
            },
        });
    }
    
    $(document).ready(function() {
        setSubscribeButton();
    });
</script>
{% endif %}
{% if is_customer %}
<script>
    function setLikeButton() {
        $.ajax({
            method: 'GET',
            url: "{% url 'news:like' article.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                if (data.liked) {
                    $('#like_button').text('Unlike');
                } else {
                    $('#like_button').text('Like');
                }
                $('#like_count').text(data.count);
            },
            error: function(error) {
                alert('Error on fetching like data.');
            },
        });
    }
    
    function like() {
        $.ajax({
            method: 'PUT',
            url: "{% url 'news:like' article.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                setLikeButton();
            },
            error: function(error) {
                alert('Error on updating like data.');
            },
        });
    }
    
    $(document).ready(function() {
        setLikeButton();
    });
</script>
{% endif %}
{% if is_logged_in %}
<script>
    function deleteArticle() {
        $.ajax({
            method: 'DELETE',
            url: "{% url 'news:article_by_id' article.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                window.location = "{% url 'news:news_page_umkm' %}"
            },
            error: function(error) {
                alert('Error on deleting article.');
            },
        });
    }
    
    function getComments() {
        $.ajax({
            method: 'GET',
            url: "{% url 'news:article_comments' article.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                commentList = $('#comment_list');
                commentList.empty();
                data.comments.forEach(function(comment) {
                    deleteButton = '';
                    if (userId === comment.user.id) {
                        deleteButton = `<button type="button" onclick="deleteComment(${comment.id});" class="btn btn-danger">Delete</button>`
                    }
                    commentList.append(`
                        <div class="card mt-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span class="d-block">${comment.user.name}</span>
                                        <span class="d-block">${new Date(comment.created_at).toDateString() + " " + new Date(comment.created_at).toTimeString().substring(0, 8)}</span>
                                    </div>
                                    <div>
                                        ${deleteButton}
                                    </div>
                                </div>
                                <span>${comment.body}</span>
                            </div>
                        </div>
                    `);
                });
            },
            error: function(error) {
                alert('Error on fetching comments from server.');
            },
        });
    }
    
    function postComment() {
        commentBody = $('#comment_body').val();
        $('#comment_body').val('');
        $.ajax({
            method: 'POST',
            url: "{% url 'news:article_comments' article.id %}",
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            data: {
                'body': commentBody,
            },
            success: function(data) {
                getComments();
            },
            error: function(error) {
                alert('Error on posting comment to server.');
            },
        });
    }
    
    function deleteComment(commentId) {
        $.ajax({
            method: 'DELETE',
            url: `/news/api/articles/${articleId}/comments/${commentId}/`,
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            success: function(data) {
                getComments();
            },
            error: function(error) {
                alert('Error on deleting comment.');
            },
        });
    }
    
    $(document).ready(function() {
        getComments();
        $('#delete_button').click(function() {
            deleteArticle();
        });
        $('#post-comment-button').click(function() {
            postComment();
        });
    });
</script>
{% endif %}
<style>
    #comment_body {
        height: 150px;
        resize: none;
    }
</style>
{% endblock meta %}

{% block content %}
<img data-bs-toggle="modal" data-bs-target="#image-modal" src="{{article.image}}" class="w-100 article-image" style="height:200px; object-fit: cover; cursor:pointer;">
<div class="modal fade" id="image-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Article Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{article.image}}" class="w-100 article-image">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="m-4">
    <h1 id="title">{{article.title}}</h1>
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <span class="d-block"><b>Author:</b> {{author_name}} {% if is_customer and not is_official %}<button id="subscribe_button" class="btn btn-warning" type="button" onclick="subscribe()">Subscribe</button>{% endif %}</span>
            <span class="d-block"><b>Created At:</b> {{article.created_at}}</span>
        </div>
        <div>
            <span class="mx-2">Likes: <span id="like_count">{{article_likes}}</span></span>
            {% if is_customer %}<button id="like_button" type="button" class="btn btn-primary" onclick="like()">Like</button>{% endif %}
            {% if is_author %}<button id="delete_button" type="button" class="btn btn-danger">Delete</button>{% endif %}
        </div>
    </div>
    <hr>
    <p id="body">{{article.body|linebreaks}}</p>
    <hr>
    <div class="mx-auto">
        {% if is_logged_in %}
            <span><b>Post Comment:</b></span>
            <form id="post-comment" class="mt-2">
                {% csrf_token %}
                {{comment_form.as_table}}
                <div class="d-flex justify-content-center mt-2">
                    <button id="post-comment-button" type="button" class="btn btn-primary">Post</button>
                </div>
            </form>
            <span class="d-block mb-2"><b>Comments:</b></span>
            <div id="comment_list"></div>
        {% else %}
            <span class="d-block text-center">You need to login in order to see and create comments. <a href="/login/">Login</a></span>
        {% endif %}
    </div>
</div>
{% endblock content %}