{% extends 'base.html' %}

{% block meta %}
<title>Create an Article</title>
<script>
    $(document).ready(function() {
        $('#create_form').submit(function(event) {
            event.preventDefault();
            
            title = $('#title').val();
            body = $('#body').val();
            
            $.ajax({
                method: 'POST',
                url: "{% url 'news:article' %}",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}',
                },
                data: {
                    title: title,
                    body: body,
                },
                success: function(data) {
                    console.log(data);
                    window.location = "{% url 'news:news_page_umkm' %}"
                },
                error: function(error) {
                    console.log(error);
                },
            });
        });
    });
</script>
{% endblock meta %}

{% block content %}
<a href="/news/"><button>Back</button></a>
<h1>Create Article</h1>
<form id="create_form" action="/news/api/articles" method="GET">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title">
    <label for="body">Body:</label>
    <textarea id="body" name="body"></textarea>
    <input type="submit" value="Create">
</form>
{% endblock content %}