{% extends 'base.html' %}

{% block meta %}
<title>News</title>
{% if category == "umkm" %}
    <script>
        function submitForm() {
            $.ajax({
                method: 'GET',
                url: "{% url 'news:article' %}",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}',
                },
                data: {
                    title: title,
                    sort_by: sortBy,
                    category: 'umkm',
                    umkm: umkm,
                    umkm_type: umkmType,
                },
                success: function(data) {
                    refreshArticleList(data);
                },
                error: function(error) {
                    alert('Error on fetching articles from server.')
                },
            });
        }
    </script>
{% elif category == "official" %}
    <script>
        function submitForm() {
            $.ajax({
                method: 'GET',
                url: "{% url 'news:article' %}",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}',
                },
                data: {
                    title: title,
                    sort_by: sortBy,
                    category: 'official',
                },
                success: function(data) {
                    refreshArticleList(data);
                },
                error: function(error) {
                    alert('Error on fetching articles from server.')
                },
            });
        }
    </script>
{% elif category == "subscribed" %}
    <script>
        function submitForm() {
            $.ajax({
                method: 'GET',
                url: "{% url 'news:article' %}",
                headers: {
                    'X-CSRFToken': '{{csrf_token}}',
                },
                data: {
                    title: title,
                    sort_by: sortBy,
                    category: 'subscribed',
                },
                success: function(data) {
                    refreshArticleList(data);
                },
                error: function(error) {
                    alert('Error on fetching articles from server.')
                },
            });
        }
    </script>
{% endif %}
<script>
    let title;
    let umkm;
    let umkmType;
    let sortByValue;
    let sortByDirection;
    let sortBy;
    
    function updateNonSortBy() {
        title = $('#title').val();
        umkm = $('#umkm').val();
        umkmType = $('#umkm_type').val();
    }
    
    function updateSortBy() {
        sortByValue = $('input[name=sort_by_value]:checked').val();
        sortByDirection = $('input[name=sort_by_direction]:checked').val();
        sortBy = `${sortByValue}_${sortByDirection}`;
    }
    
    function refreshArticleList(data) {
        console.log(data);
        let articleList = $('#article_list');
        articleList.empty();
        
        data.articles.forEach(function(article) {
            let title = escapeHTML(article.title);
            let authorName = escapeHTML(article.author.name);
            let createdAt = article.created_at;
            createdAt = new Date(createdAt).toDateString() + " " + new Date(createdAt).toTimeString().substring(0, 8);
            let likes = article.likes;
            let id = article.id;
            let imageSource = article.image;
            articleList.append(`
                <div class="card" style="width: 18rem">
                    <img src=${imageSource} class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <span class="d-block">${authorName}</span>
                        <span class="d-block">${createdAt}</span>
                        <span class="d-block">Likes: ${likes}</span>
                        <a href="/news/${id}" class="btn btn-primary">Read Article</a>
                    </div>
                </div>
            `);
        });
    }
    
    $(document).ready(function() {
        updateNonSortBy();
        updateSortBy();
        submitForm();
        
        $('#search_form').submit(function(event) {
            event.preventDefault();
            updateNonSortBy();
            updateSortBy();
            submitForm();
        });
        
        $('input[name=sort_by_value], input[name=sort_by_direction]').change(function() {
            updateSortBy();
            submitForm();
        });
    });
</script>
{% endblock meta %}

{% block content %}
<div id="news-navigation" class="my-4">
    <ul class="nav nav-pills justify-content-center gap-2">
        <li class="nav-item">
            <a class="nav-link {{umkm_button_class}}" href="/news/">UMKM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{official_button_class}}" href="/news/official/">Official</a>
        </li>
        {% if is_customer %}
            <li class="nav-item">
                <a class="nav-link {{subscribed_button_class}}" href="/news/subscribed/">Subscribed</a>
            </li>
        {% endif %}
    </ul>
</div>
{% if is_umkm and category == "umkm" or is_admin and category == "official" %}
<div class="d-flex justify-content-center">
    <a href="/news/create"><button type="button" class="btn btn-primary">Create New Article</button></a>
</div>
{% endif %}
<form id="search_form" class="mt-4" action="/news/api/articles" method="GET">
    <div class="w-50 mx-auto">
        <div class="input-group">
            <input id="title" type="text" name="title" class="form-control" placeholder="Search Articles">
            {% if category == "umkm" %}
                <input id="umkm" type="text" name="umkm" class="form-control" placeholder="UMKM">
                <select id="umkm_type" name="umkm_type" class="form-select">
                    <option value="">Pick Attribute</option>
                    <option value="username">Username</option>
                    <option value="name">Name</option>
                </select>
            {% endif %}
            <input type="submit" value="Search" class="btn btn-outline-secondary">
        </div>
    </div>
    <div class="card w-75 mx-auto my-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <span class="mx-4">Sort By:</span>
                    <div class="form-check form-check-inline">
                        <input id="sort_by_value_date" class="form-check-input" type="radio" name="sort_by_value" value="date" checked="checked">
                        <label for="sort_by_value_date" class="form-check-label">Date</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="sort_by_value_likes" class="form-check-input" type="radio" name="sort_by_value" value="likes">
                        <label for="sort_by_value_likes" class="form-check-label">Likes</label>
                    </div>
                </div>
                <div>
                    <div class="form-check form-check-inline">
                        <input id="sort_by_direction_asc" class="form-check-input" type="radio" name="sort_by_direction" value="asc">
                        <label for="sort_by_direction_asc" class="form-check-label">Ascending</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="sort_by_direction_desc" class="form-check-input" type="radio" name="sort_by_direction" value="desc" checked="checked">
                        <label for="sort_by_direction_desc" class="form-check-label">Descending</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="article_list" class="d-flex justify-content-center flex-wrap gap-4 mx-4 mb-4">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading</span>
    </div>
</div>
{% endblock content %}